body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  padding: 10px;
}

h1 a {
  color: #000;
  text-decoration: none;
}

.app {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  margin-top: 25px;
}

.actions button {
  background: transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #38b2ac;
  font-weight: 600;
  padding: 0.75rem 1rem;
}

.actions button:hover {
  background-color: #319795;
}

/** Editorjs React Component */
.react-component {
  background: lightblue;
  padding: 20px;
}

.react-component h3 {
  margin-top: 0;
}

/* EDITORJS overwrites */
@media screen and (min-width: 990px) {
  .ce-block__content,
  .ce-toolbar__content {
    max-width: 100%;
  }
}
